<!DOCTYPE html>
<html>
<head>
  <title>DbNyc</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>#slider { margin: 25px 150px; border: 1px solid #000000;
    background: #323232 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;} </style>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<body class="full-intro">

    <!-- HEADER -->
    <header class="header">
      <div class="container">

          <!-- logo -->
          <div class="logo">
              <a href="home.html">
                <img class="l-black" src="assets/logo-black.png" />
              </a>
          </div>
          <!--End logo-->

          <!-- Navigation Menu -->
                <nav class='navigation'>
                    <ul>
                        <li>
                            <a href="home.html">Home</a>
                        </li>
                        <li>
                            <a href="home.html">About</a>
                        </li>
                        <li>
                            <a href="home.html">Team</a>
                            <!-- Nav Dropdown -->
                            <ul class="nav-dropdown">
                                <li class=""><a href="shop-2col.html">Walter Beller-Morales</a></li>
                                <li class=""><a href="shop-3col.html">Elizabeth Lovero</a></li>
                                <li class=""><a href="shop-4col.html">Heather Petrow</a></li>
                            </ul>
                            <!-- End Nav Dropdown -->
                        </li>
                    </ul>
                </nav>
                <!--End Navigation Menu -->
      </div>
    </header>
    <!-- END HEADER -->

<%= yield %>

</body>
</html>